.button-question {
  grid-column: 2/3;
  display: flex;
  justify-content: space-evenly;
}
/* .button-question:focus {
  background-color: antiquewhite;
}
.button-question:active {
  background-color: blueviolet;
}
.button-question:hover {
  background-color: brown;
} */
