.container-quiz {
  top: 0;
  left: 0;
  width: 100vmax;
  height: 100%;
  position: absolute;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px 0px;
  background: rgba(245, 247, 251, 1);
}
.h3-quiz {
  grid-column: 2/3;
  justify-self: center;
}
.button-send {
  grid-column: 2/3;
}
.RingProgress-Quiz {
  grid-column: 3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
}
hr {
  grid-column: 2/3;
  width: 90%;
  height: 0;
  border: 0.794239px solid #dbdef0;
}
.imgFoot-quiz {
  grid-row: 30;
  justify-self: left;
  position: absolute;
  align-self: end;
}
.imgTop-quiz {
  grid-column: 3;
  position: absolute;
  justify-self: right;
  align-self: top;
}
