.container-quiz {
  top: 0;
  left: 0;
  width: 100vmax;
  position: absolute;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background: rgba(245, 247, 251, 1);
}
.h2-quiz {
  grid-column: 2/3;
  background-color: aquamarine;
}
.button-send {
  grid-column: 2/3;
}
.RingProgress-Quiz {
  grid-column: 3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
}
hr {
  grid-column: 2/3;
  width: 90%;
  height: 0;
  border: 0.794239px solid #dbdef0;
}
